<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newpost</title>
</head>
<body>
    <h1>Hello</h1>
    <form action="/compose" method="POST">
        <input type="text" name="tittle" placeholder="Enter the tittle"><br><br>
        <input type="text" name="matter" placeholder="Enter the matter"><br><br>
        <button type="submit">Compose</button>
    </form>
</body>
</html>