html {
    min-height: 100%;
    position: relative;
}

body {
    /* text-align: center; */
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.container {
    text-align: center;
    margin: auto;
    width: 50%;
    display: flex;
  flex-direction: column;
  justify-content: center;
    background-color: skyblue;
}